.contact-section {
  padding: 40px 0;
}

.contact-container {
  width: 100%;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-card {
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 30px;
  min-height: 470px;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  gap: 40px;

  color: #fff;
  z-index: 1;
}

.contact-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
}

.contact-content {
  max-width: 90%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1;
}

.contact-text {
  font-size: 24px;
  line-height: 1.2;
  max-width: 600px;
  font-weight: 400px;
}

.contact-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.btn-green {
  background-color: #009846;
  width: 260px;
  border-radius: 10px;
}
.btn-green:hover {
  background-color: #007a38;
}

.btn-purple {
  border-radius: 15px;
  background-color: #7b61ff;
  width: 90px;
}
.btn-purple:hover {
  background-color: #6a52e3;
}

@media (max-width: 1650px) {
  .contact-title {
    font-size: 34px;
  }

  .contact-text {
    font-size: 22px;
    max-width: 550px;
  }
}

@media (max-width: 1440px) {
  .contact-title {
    font-size: 30px;
  }

  .contact-text {
    font-size: 18px;
    max-width: 450px;
  }
}

@media (max-width: 1200px) {
  .contact-card {
    padding: 24px;
    min-height: 350px;
    gap: 24px;
  }
  .contact-title {
    font-size: 24px;
  }
  .contact-text {
    font-size: 16px;
    width: 400px;
  }

  .btn-contact {
    padding: 16px;
    font-size: 14px;
  }

  .btn-green {
    width: 220px;
  }

  .btn-purple {
    width: 76px;
  }

  .contact-content {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .contact-title {
    font-size: 20px;
  }
  .contact-text {
    font-size: 14px;
    width: 350px;
  }

  .btn-contact {
    padding: 16px;
    font-size: 14px;
  }

  .btn-green {
    width: 220px;
  }

  .btn-purple {
    width: 76px;
  }

  .contact-content {
    gap: 20px;
  }
}

@media (max-width: 880px) {
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .contact-card {
    padding: 25px;
    border-radius: 20px;
    gap: 30px;
  }

  .contact-buttons {
    margin-top: 0;
    width: 100%;
  }

  .contact-title {
    font-size: 30px;
  }

  .contact-text {
    font-size: 18px;
    width: 600px;
  }
}

@media (max-width: 600px) {
  .contact-title {
    font-size: 24px;
  }
  .contact-text {
    font-size: 16px;
    width: 400px;
  }
}

@media (max-width: 500px) {
  .contact-title {
    font-size: 20px;
  }
  .contact-text {
    font-size: 14px;
    width: 300px;
  }
}
