.top-bar {
  display: flex;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  height: 60px;
  padding: 0 20px;
}

.has-dropdown {
  display: flex;
  gap: 25px;
  align-items: center;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.switchers {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.arrow-icon {
  width: 7px;
  height: auto;
}

.switcher {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switcher .arrow-icon {
  width: 5px;
  height: auto;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location-container .arrow-icon {
  width: 9px;
  height: auto;
}

.location-icon {
  width: 13;
  height: auto;
}

.separator {
  border: none;
  height: 1px;
  background-color: #d9d9d9;
  margin: 0;
}

.header-actions {
  height: 78px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter Tight", sans-serif;
  padding: 0 0 0 20px;
}

.logo-icon {
  max-width: 215px;
  height: auto;
}

.catalog-button {
  width: 100%;
  max-width: 180px;
  height: 58px;
  background-color: #009846;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 0 20px;
  justify-content: space-between;
  font-size: 1rem;
}

.catalog-button .arrow-icon {
  color: #ffffff;
  width: 8px;
  height: auto;
}

.catalog-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 0 25px 0 20px;
  height: 58px;
  width: 100%;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.search-wrapper:focus-within {
  background-color: #ffffff;
  border-color: #4e4e4e;
}

.search-btn {
  color: #4e4e4e;
}

.search-input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0, 875rem;
  color: #4e4e4e;
  font-family: inherit;
}

.search-input::placeholder {
  color: #989898;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.action-buttons {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.action-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border-radius: 50%;

  color: #009846;
  text-decoration: none;
}

.action-btn svg {
  width: 18px;
  height: auto;
}

.count-badge {
  position: absolute;
  bottom: -6px;
  right: -6px;

  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.phone-btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009846;
  color: #ffffff;
  min-width: 275px;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}
