.main-page {
  padding: 30px 20px 60px 20px;
  background-color: #f0f0f0;
  font-family: "Inter Tight", sans-serif;
  width: 100%;
  min-width: 420px;
  overflow-x: clip;
  overflow-x: hidden;
}

.side-catalog {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 440px;
  height: fit-content;
  border-radius: 20px;
  padding: 24px;
  gap: 12px;
  font-size: 0.9375rem;
}

.side-separator {
  background-color: #009846;
  border-color: #009846;
  margin: 12px 0 12px 0;
  border-width: 1px;
}

.side-catalog .item {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

.side-catalog .item-btn {
  background-color: #009846;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 7px;
}

.side-catalog .item-btn-icon {
  width: auto;
  height: 13px;
}

.side-catalog .item-icon {
  width: 27px;
  height: auto;
}

.main-section {
  display: flex;
  gap: 20px;
  width: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  gap: 160px;

  background-image: linear-gradient(
      245.84deg,
      rgba(0, 0, 0, 0) 14.11%,
      rgba(0, 0, 0, 0.2) 65.45%
    ),
    url("/assets/photo/main.png");

  background-repeat: no-repeat;

  background-size: 120% cover;

  background-position: center 100%;
  overflow: hidden;
}

.hero-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
  width: 100%;
  padding-bottom: 60px;
  padding-left: 60px;
}

.hero-badge {
  font-size: 1.125rem;
  padding: 10px 28px 10px 28px;
  background-color: rgba(255, 255, 255, 0.29);
  width: fit-content;
  border-radius: 100px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.hero-btn {
  padding: 25px 50px 25px 50px;
  background-color: #009846;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}

.main-features {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 84px 40px 84px 40px;
  justify-content: space-between;
  flex-shrink: 0;
}

.feature-item {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
}

.feature-text {
  font-size: 1.375rem;
  color: #ffffff;
  font-weight: 300;
}

.feature-text span {
  font-weight: 500;
}

.feature-icon {
  height: 40px;
  width: auto;
}

@media (min-width: 1960px) {
  .main-content {
    background-size: cover;
    background-position: center 90%;
  }
}

@media (max-width: 1590px) {
  .main-content {
    background-size: 130% auto;

    background-position: 90% 90%;
  }

  .side-catalog {
    height: 600px;
    overflow-y: auto;
  }

  .feature-text {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 2.25rem;
  }

  .hero-badge {
    font-size: 1;
  }

  .hero-btn {
    font-size: 1rem;
    padding: 20px 50px 20px 50px;
  }

  .main-features {
    padding: 50px 40px 50px 40px;
  }

  .main-content {
    gap: 120px;
  }
}

@media (max-width: 1440px) {
  .main-content {
    background-size: 160% auto;
    background-position: 60% 90%;
  }

  .feature-text {
    font-size: 0.875rem;
  }

  .hero-title {
    font-size: 2.25rem;
  }

  .hero-badge {
    font-size: 0.875rem;
  }

  .hero-btn {
    font-size: 0.875rem;
  }

  .main-content {
    gap: 80px;
  }

  .hero-section {
    padding-left: 30px;
  }

  .main-features {
    width: 350px;
  }
}

@media (max-width: 1350px) {
  .main-features {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  .side-catalog {
    display: none;
  }

  .main-content {
    height: 600px;
    gap: 180px;
    background-size: 120% auto;
  }

  .main-features {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .main-content {
    background-size: 130% auto;

    background-position: 80% 90%;
    gap: 80px;
  }
}

@media (max-width: 930px) {
  .main-features {
    width: 300px;
  }

  .main-content {
    background-position: 80% 100%;
  }
}

@media (max-width: 820px) {
  .hero-title {
    font-size: 1.75rem;
  }

  .main-content {
    background-position: 70% 100%;
    background-size: 150% auto;
  }

  .hero-section {
    padding-bottom: 30px;
  }

  .hero-btn {
    margin-top: 10px;
  }
}

.mobile-main-content {
  display: none;
  background-image: linear-gradient(
      245.84deg,
      rgba(0, 0, 0, 0) 14.11%,
      rgba(0, 0, 0, 0.2) 65.45%
    ),
    url("/assets/photo/mobile-main.png");
  flex-direction: column;
  color: #ffffff;
  width: 100%;

  height: 530px;
  border-radius: 20px;
  padding: 25px 13px 13px 13px;
  justify-content: space-between;
  align-items: start;

  background-repeat: no-repeat;

  background-size: 100% auto;

  background-position: center 60%;
  overflow: hidden;
}

.mobile-hero-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 12px 0 12px;
}

.mobile-hero-title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
}
.mobile-hero-text {
  font-size: 1.125rem;
  font-weight: 400;
  flex: 1;
  min-width: 0;
}

.mobile-main-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.mobile-feature-item {
  display: flex;
  gap: 13px;
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  padding: 15px;
  align-items: center;
  font-size: 1.125rem;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

.mobile-feature-icon {
  height: 37px;
  width: auto;
}

.mobile-catalog-btn {
  display: none;
  color: #fff;
  width: 100%;
  background-color: #009846;
  border-radius: 10px;
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

@media (max-width: 700px) {
  .main-content {
    display: none;
  }

  .mobile-main-content {
    display: flex;
  }

  .mobile-catalog-btn {
    display: flex;
  }

  .main-page {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .main-section {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 550px) {
  .mobile-hero-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .mobile-hero-text {
    font-size: 1rem;
    font-weight: 400;
  }

  .mobile-feature-item {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .mobile-hero-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .mobile-hero-text {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .mobile-feature-item {
    font-size: 0.875rem;
  }
}
