<section class="brand-section">
  <div class="brand-container">
    <div class="brand-cta">
      <h2 class="cta-title">Повний вибір під будь-який бренд</h2>
      <img
        src="assets/photo/brand-keys-desktop.png"
        alt="Car Keys"
        class="cta-image desktop"
      />
      <img
        src="assets/photo/brand-keys-mobile.png"
        alt="Car Keys"
        class="cta-image mobile"
      />
      <a href="#" class="cta-btn">Переглянути всі марки</a>
    </div>
    <div class="brand-grid">
      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>
      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>

      <a href="#" class="brand-item">
        <img
          src="assets/photo/brand-logo.png"
          alt="Car Keys"
          class="brand-logo-image"
        />
      </a>
    </div>
  </div>
</section>
