<section class="contact-section">
  <div class="contact-container">
    <div class="contact-grid">
      <div
        class="contact-card"
        style="background-image: url('assets/photo/vin-photo.png')"
      >
        <div class="contact-content">
          <h3 class="contact-title">
            Не впевнені, що саме<br />підійде саме вам?
          </h3>
          <p class="contact-text">
            Підберемо товар за фото чи VIN — професійна консультація безкоштовно
          </p>
        </div>

        <div class="contact-buttons">
          <a href="tel:+380683501717" class="btn-contact btn-green">
            +38 (068) 350 17 17
          </a>
          <a
            href="viber://chat?number=%2B380683501717"
            class="btn-contact btn-purple"
          >
            Viber
          </a>
        </div>
      </div>

      <div
        class="contact-card"
        style="background-image: url('assets/photo/steering-wheel.png')"
      >
        <div class="contact-content">
          <h3 class="contact-title">
            Працюєте з автоключами<br />чи ремонтом?
          </h3>
          <p class="contact-text">
            Ми пропонуємо вигідні оптові ціни, постійну наявність і персональну
            підтримку для майстрів і сервісів.
          </p>
        </div>

        <div class="contact-buttons">
          <a href="tel:+380683501717" class="btn-contact btn-green">
            +38 (068) 350 17 17
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
