<header class="header-container">
  <nav class="nav-container">
    <div class="top-bar">
      <ul class="menu-list">
        <li class="menu-item has-dropdown">
          <div class="location-container">
            <img
              src="assets/icons/location.svg"
              alt="Location"
              class="location-icon"
            />
            <a href="#"> Дніпро, Театральна, 5 </a>
          </div>
          <img
            src="assets/icons/arrow-down.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </li>
        <li class="menu-item">
          <a href="#"> Партнери </a>
        </li>
        <li class="menu-item">
          <a href="#"> Контакти </a>
        </li>
        <li class="menu-item has-dropdown">
          <a href="#">
            Клієнтам<img
              src="assets/icons/arrow-down.svg"
              alt="Arrow"
              class="arrow-icon"
            />
          </a>
        </li>
      </ul>
      <div class="switchers">
        <div class="language-switcher switcher">
          UA
          <img
            src="assets/icons/arrow-down.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </div>
        <div class="currency-switcher switcher">
          $
          <img
            src="assets/icons/arrow-down.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </div>
      </div>
    </div>
    <hr class="separator" />
    <div class="header-actions">
      <div class="burger-menu-btn">
        <svg
          viewBox="0 0 20 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="menu-icon icon-burger"
        >
          <line y1="0.5" x2="20" y2="0.5" stroke="white" />
          <line y1="6.5" x2="20" y2="6.5" stroke="white" />
          <line y1="12.5" x2="20" y2="12.5" stroke="white" />
        </svg>

        <svg
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-close"
        >
          <line
            x1="1.06058"
            y1="0.496056"
            x2="15.2027"
            y2="14.6382"
            stroke="currentColor"
          />
          <line
            x1="0.353478"
            y1="14.4961"
            x2="14.4956"
            y2="0.353921"
            stroke="currentColor"
          />
        </svg>
      </div>

      <div class="logo">
        <img src="assets/icons/logo.svg" alt="Logo" class="logo-icon" />
      </div>
      <div class="catalog-wrapper">
        <div class="catalog-button" id="catalogBtn">
          <div class="catalog-container">
            <img
              src="assets/icons/catalog.svg"
              alt="Catalog"
              class="catalog-icon"
            />
            Каталог
          </div>
          <svg
            width="11"
            height="7"
            viewBox="0 0 11 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="arrow-icon"
          >
            <path
              d="M9.64941 0.650391L5.14941 5.15039L0.649414 0.650391"
              stroke="currentColor"
              stroke-width="1.83689"
            />
          </svg>
        </div>

        <div class="catalog-dropdown" id="catalogMenu">
          <div class="catalog-grid">
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/mark-search.svg"
                alt="Mark search"
                class="catalog-item-icon"
              />
              <span>Пошук по марці</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/carkeys.svg"
                alt="carkeys"
                class="catalog-item-icon"
              />
              <span>Автоключі</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/key-cases.svg"
                alt="Key cases"
                class="catalog-item-icon"
              />
              <span>Корпуси ключів</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/chips.svg"
                alt="Chips"
                class="catalog-item-icon"
              />
              <span>Чіпи, мікросхеми</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/settings.svg"
                alt="components"
                class="catalog-item-icon"
              />
              <span>Комплектуючі</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/keys.svg"
                alt="keys"
                class="catalog-item-icon"
              />
              <span>Універсальні ключі</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/emulators.svg"
                alt="emulators"
                class="catalog-item-icon"
              />
              <span>Емулятори</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/lock.svg"
                alt="lock"
                class="catalog-item-icon"
              />
              <span>Автозамки</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/motokeys.svg"
                alt="motokeys"
                class="catalog-item-icon"
              />
              <span>Мотоключі</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/staff.svg"
                alt="staff"
                class="catalog-item-icon"
              />
              <span>Обладнання для майстрів</span>
            </a>
            <a href="#" class="catalog-item">
              <img
                src="assets/icons/car-repair.svg"
                alt="repair"
                class="catalog-item-icon"
              />
              <span>Сервіс і ремонт</span>
            </a>
          </div>
        </div>

        <form class="search-wrapper">
          <input type="text" placeholder="Пошук товарів" class="search-input" />

          <button type="submit" class="search-btn">
            <svg
              width="15"
              height="15"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.74719 11.6904C5.88837 12.8112 7.43772 13.5 9.14428 13.5C12.652 13.5 15.4956 10.5899 15.4956 7C15.4956 3.41015 12.652 0.5 9.14428 0.5C5.63652 0.5 2.79293 3.41015 2.79293 7C2.79293 8.84336 3.54271 10.5075 4.74719 11.6904ZM4.74719 11.6904L0.350098 16"
                stroke="currentColor"
              />
            </svg>
          </button>
        </form>

        <div class="mobile-search-btn">
          <svg
            width="24"
            height="24"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.74719 11.6904C5.88837 12.8112 7.43772 13.5 9.14428 13.5C12.652 13.5 15.4956 10.5899 15.4956 7C15.4956 3.41015 12.652 0.5 9.14428 0.5C5.63652 0.5 2.79293 3.41015 2.79293 7C2.79293 8.84336 3.54271 10.5075 4.74719 11.6904ZM4.74719 11.6904L0.350098 16"
              stroke="currentColor"
            />
          </svg>
        </div>

        <div class="action-buttons">
          <a href="/profile" class="action-btn profile-btn">
            <svg
              viewBox="0 0 18 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.75 15.9996C16.75 12.465 13.1683 9.59961 8.75 9.59961C4.33172 9.59961 0.75 12.465 0.75 15.9996"
                stroke="currentColor"
                stroke-width="1.5"
              />
              <path
                d="M8.75 0.75C10.5449 0.75 12 2.20507 12 4C12 5.79493 10.5449 7.25 8.75 7.25C6.95507 7.25 5.5 5.79493 5.5 4C5.5 2.20507 6.95507 0.75 8.75 0.75Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
            </svg>
          </a>

          <a href="/favorite" class="action-btn favorite-btn">
            <svg
              viewBox="0 0 21 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="count-badge">0</span>
          </a>

          <a href="/cart" class="cart-btn action-btn">
            <svg
              viewBox="0 0 15 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.783203 16.7498L1.26806 5.59766H13.3894L13.8742 16.7498H0.783203Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
              <path
                d="M10.4799 7.53828V3.90155C10.4799 2.161 9.06886 0.75 7.32831 0.75C5.58775 0.75 4.17676 2.16099 4.17676 3.90155V7.53828"
                stroke="currentColor"
                stroke-width="1.5"
              />
            </svg>
            <span class="count-badge">0</span>
          </a>
        </div>
      </div>

      <a href="tel:+380683501717" class="phone-btn-large">
        +38 (068) 350 17 17
      </a>
    </div>
  </nav>
  <div class="mobile-menu">
    <div class="menu-header">
      <div class="menu-top-row">
        <div class="burger-menu-btn">
          <svg
            width="16"
            height="15"
            viewBox="0 0 16 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="1.06058"
              y1="0.496056"
              x2="15.2027"
              y2="14.6382"
              stroke="currentColor"
            />
            <line
              x1="0.353478"
              y1="14.4961"
              x2="14.4956"
              y2="0.353921"
              stroke="currentColor"
            />
          </svg>
        </div>

        <div class="logo">
          <img src="assets/icons/logo.svg" alt="Logo" class="logo-icon" />
        </div>

        <div class="switchers switchers-top">
          <div class="language-switcher switcher">
            UA
            <img
              src="assets/icons/arrow-down.svg"
              alt="Arrow"
              class="arrow-icon"
            />
          </div>
          <div class="currency-switcher switcher">
            $
            <img
              src="assets/icons/arrow-down.svg"
              alt="Arrow"
              class="arrow-icon"
            />
          </div>
        </div>
      </div>

      <div class="menu-user-row">
        <a href="/profile" class="profile-btn">
          <div class="action-btn">
            <svg
              viewBox="0 0 18 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.75 15.9996C16.75 12.465 13.1683 9.59961 8.75 9.59961C4.33172 9.59961 0.75 12.465 0.75 15.9996"
                stroke="currentColor"
                stroke-width="1.5"
              />
              <path
                d="M8.75 0.75C10.5449 0.75 12 2.20507 12 4C12 5.79493 10.5449 7.25 8.75 7.25C6.95507 7.25 5.5 5.79493 5.5 4C5.5 2.20507 6.95507 0.75 8.75 0.75Z"
                stroke="currentColor"
                stroke-width="1.5"
              />
            </svg>
          </div>
          Увійти в кабінет
        </a>

        <div class="switchers switchers-bottom">
          <div class="language-switcher switcher">
            UA
            <img
              src="assets/icons/arrow-down.svg"
              alt="Arrow"
              class="arrow-icon"
            />
          </div>
          <div class="currency-switcher switcher">
            $
            <img
              src="assets/icons/arrow-down.svg"
              alt="Arrow"
              class="arrow-icon"
            />
          </div>
        </div>
      </div>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#"> Головна сторінка </a>
      </li>
      <li class="menu-item">
        <a href="#"> Партнери </a>
      </li>
      <li class="menu-item has-dropdown">
        <a href="#">
          Каталог<img
            src="assets/icons/arrow-down.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </a>
      </li>
      <li class="menu-item">
        <a href="#"> Технічний журнал </a>
      </li>
      <li class="menu-item">
        <a href="#"> Про нас </a>
      </li>
      <li class="menu-item">
        <a href="#"> Контакти </a>
      </li>
      <li class="menu-item has-dropdown">
        <a href="#">
          Клієнтам<img
            src="assets/icons/arrow-down.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </a>
      </li>
    </ul>
    <a href="tel:+380683501717" class="phone-btn"> +38 (068) 350 17 17 </a>
  </div>
</header>
