<section class="products-section">
  <div class="container">
    <div class="section-header">
      <div class="tabs-nav">
        <button class="tab-btn active" data-target="tab-popular">
          Популярні товари
        </button>
        <button class="tab-btn" data-target="tab-special">
          Спецпропозиції
        </button>
      </div>
      <div class="slider-arrows">
        <button class="arrow-btn prev-slide">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 18L9 12L15 6"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="arrow-btn next-slide">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 18L15 12L9 6"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="tabs-content-wrapper">
      <div class="tab-pane active" id="tab-popular">
        <div class="swiper productSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-green">Оригінал (OEM)</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-stock">
                      <span class="dot"></span> В наявності
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                    <span class="old-price">1800.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-green">Оригінал (OEM)</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-order">
                      <span class="dot"></span> Під замовлення
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                    <span class="old-price">1800.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-black">Аналог</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-stock">
                      <span class="dot"></span> В наявності
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-green">Оригінал (OEM)</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-order">
                      <span class="dot"></span> Під замовлення
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                    <span class="old-price">1800.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-green">Оригінал (OEM)</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-stock">
                      <span class="dot"></span> В наявності
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                    <span class="old-price">1800.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-card">
                <div class="card-top">
                  <span class="badge badge-black">Аналог</span>
                  <button class="wishlist-btn wishlist-btn-desktop">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
                <div class="card-image">
                  <img src="assets/photo/product.png" alt="Key" />
                </div>
                <div class="card-info">
                  <div class="top-info">
                    <div class="status in-stock">
                      <span class="dot"></span> В наявності
                    </div>
                    <span class="code">Код: 00-0001716</span>
                  </div>
                  <h3
                    class="product-title"
                    title="Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go"
                  >
                    Викидний ключ Audi A3, S3, RS3, 434 Mhz, 8V0 837220 D, ID49/
                    Megamos AES/ MQB, 3 кнопки, HU66, Keyless Go
                  </h3>
                  <div class="price-block">
                    <span class="current-price">1260.00 ₴</span>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="add-to-cart-btn">В кошик</button>
                  <button class="wishlist-btn wishlist-btn-mobile">
                    <svg
                      width="21"
                      height="18"
                      viewBox="0 0 21 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.15537 8.79738L10.25 16.75L18.3446 8.79738C19.2445 7.91332 19.75 6.71429 19.75 5.46405C19.75 2.86055 17.6018 0.75 14.9518 0.75C13.6792 0.75 12.4588 1.24666 11.5589 2.13071L10.25 3.41667L8.94108 2.13071C8.04124 1.24666 6.82079 0.75 5.54822 0.75C2.89824 0.75 0.75 2.86055 0.75 5.46405C0.75 6.71429 1.25552 7.91332 2.15537 8.79738Z"
                        stroke="#009846"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-special">
      <div class="swiper productSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>

    <div class="section-footer">
      <a href="#" class="view-all-btn">Всі товари</a>
    </div>
  </div>
</section>
