<section class="often-section">
  <div class="often-container">
    <h2 class="often-title">Те, що шукають найчастіше</h2>

    <div class="often-grid">
      <a
        href="#"
        class="often-item item-photo"
        style="background-image: url('assets/photo/often-img.png')"
      >
        <div class="often-footer">
          <span class="often-name">Універсальні ключі Xhorse</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>

      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="often-item">
        <div class="often-img-wrapper">
          <img src="assets/photo/ford-keys.png" alt="Лезо" class="often-img" />
        </div>
        <div class="often-footer">
          <span class="often-name">Оригінальні ключі Ford</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="white"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>

      <a href="#" class="often-item item-green">
        <div class="often-footer">
          <span class="often-name">Всі категорії</span>
          <div class="often-arrow">
            <svg
              width="9"
              height="15"
              viewBox="0 0 9 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.707031 0.707424L7.15703 7.15742L0.707031 13.6074"
                stroke="#009846"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
